body {
    font-family: 'Montserrat', sans-serif;    
    background: linear-gradient(180deg, rgb(30, 30, 201), rgb(243, 243, 15));
}

.Main{
    padding-left: 60px;
    /* display: flex;
    flex-direction: row-reverse;   
    background-color: rgb(102, 163, 255);
    width: 1200px;
    margin: 0 auto;*/
}

.aboutUser{
    color: #f5f566;
    /* padding-top: 100px; */
    /* padding-bottom: 300px; */
    /* padding-left: 60px; */
    /* padding-right: 90px; */
}

.userPhoto{
    border: 3px solid pink;
}

.projects {
    background-color: rgb(52, 171, 245);
    
    margin-top: 100px;
    margin-bottom: 300px;
    margin-left: 60px;
    margin-right: 90px;
    
    border: 3px solid black ;
    border-radius: 20px;
}

.education{
    background-color: rgb(240, 240, 141);
    padding-top: 100px;
    padding-bottom: 300px;
    padding-left: 60px;
    padding-right: 90px;

    /*padding: 100px 300px 60px 90px;
    padding: 100px;
    padding: 100px 50px*/;
}

li {
    background-color: #f5f566;
}

h3 {
    /* background-color: rgb(81, 179, 240); */
}

ul {
    background-color:  #1E90FF;
}

div {
    /* background-color: #a5e5fa; */
}

.title{
    color: rgb(95, 14, 255);
    font-size: 35px;
}

.title2{
    color: rgb(253, 8, 172);
    font-size: 30px;
}

.title3{
    color: rgb(255, 0, 0);
    font-size: 30px;
}

.title4{
    color: rgb(22, 14, 255);
    font-size: 30px;
}

.wrapper{
    display: flex;
    /* background-color: rgb(230, 251, 113); */
}

.Main_content{
    /* background-color: rgb(111, 158, 247); */
}